/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Source Serif Pro', serif;
    
}

body {
    background-color: white;
    line-height: 1.25;
    color: black;
    width: 90%;
    margin: 0 auto;
}
main {
    text-align: center;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 30px;
}
    

h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2, h3 {
    font-size: 2em;   
} 
p {
    font-size: 1.25em;
    text-align: center;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
}
.pro-image {
    width: 100%;
    max-width: 400px;
    padding:30px 15px;
    
}
.port-images {
    width: 90%;
    max-width: 400px;

}
footer {
    
    border-top: 1px solid grey;
    padding: 30px 0 30px;
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-between;

}











/* ================================= 
  Base Layout Styles
==================================== */
.main-header {
    text-align: center;
    margin: 10px;
    padding-top: .5em;
}

.main-nav li {
    background-color: whitesmoke;
    margin-bottom: 10px;
    
} 
.name a,.main-nav a {
        text-transform: uppercase;
        display: block;
        padding: 10px 15px;
        color: firebrick;
        
}
a:hover {
    color: #093a58
}


.container {
    background-color: whitesmoke;
    align-items: center;
}

.col {
    text-align: center;
    padding: 20px 5px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
    
}
.hide {
    display: none;
}
.hide a {
    font-size: 1.25em;
    display: inline-block;
    color: firebrick;
}
.back-to-top {
    padding-left: 60px;
}


/* ---- Layout Containers ---- */













/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {
    .container, header {
        display: flex;
        flex-wrap: wrap;
        
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }   
    .main-nav {
        background-color: white;
    }
    a:hover {
        color: #093a58
    }
    ul li {
        display:inline-block;
    }
    .pro-image {
        width: 300px;
        margin: 0 1rem 1rem 0;
    }
    .p1 {
        clear: both;
    }

    .col {
        flex: 1 50%;
    }
   .hide {
       display: inline;
   }
   .back-to-top {
    display: none;
}
}








@media (min-width: 1024px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }   
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

    }
    .col {
        flex: 33%;
    }
    .pro-image {
        float: right;
        width: 100%;
    }
    .p1 {
        clear: left;
    }
    a:hover {
        color: #093a58
    }
    






    .back-to-top {
        display: none;
    }
}